consumer_key: Ni2rDBLHWym3BZxDwEm0d
consumer_secret: X5zHwQrtGUV8M7LnOfaQtbH8r6Ka3nkONyS3gbklqM
access_token: KzS6wjiCdKBIyeZtIq9v7A
access_token_secret: zCd625JS6hZ3vhRVvNu8qNKx65eRdkLpHfKsXRPFy0
rest_endpoint: http://muddy.it

